<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input label="Email" label-placement="floating" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" type="password" label-placement="floating" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="login()">Login</ion-button>
  <ion-button expand="block" fill="clear" routerLink="/register">Create an Account</ion-button>
</ion-content>